In [4]:
import pandas as pd
a={'cars':["BMW","VOLVO","FORD"],'passing':[3,7,2]}
b=pd.DataFrame(a)
print(b)

    cars  passing
0    BMW        3
1  VOLVO        7
2   FORD        2

In [5]:
a=pd.read_csv('vt.csv')
print(a)

    Duration         Date  Pulse  Maxpulse  Calories
0         60  2020/12/01'    110     130.0       NaN
1         60  2020/12/02'    117     145.0     479.0
2         60  2020/12/03'    103     135.0     340.0
3        450  2020/12/04'    109     175.0     201.0
4         45  2020/12/05'    117     148.0      62.0
5         60  2020/12/06'    102     127.5      77.0
6         60  2020/12/07'    110     136.0     216.0
7         45  2020/12/08'    104     134.0     253.0
8         30     20201209    109     133.0       NaN
9         60  2020/12/10'     98     124.0     269.0
10        60  2020/12/11'    103     147.0     329.0
11        60  2020/12/12'    100     120.0     250.0
12        60  2020/12/12'    100     120.0     250.0

In [6]:
a=pd.read_csv('vt.csv')
a.head(5)

   Duration         Date  Pulse  Maxpulse  Calories
0        60  2020/12/01'    110     130.0       NaN
1        60  2020/12/02'    117     145.0     479.0
2        60  2020/12/03'    103     135.0     340.0
3       450  2020/12/04'    109     175.0     201.0
4        45  2020/12/05'    117     148.0      62.0

In [9]:
a=pd.read_csv('vt.csv')
print(a.tail(5))

    Duration         Date  Pulse  Maxpulse  Calories
8         30     20201209    109     133.0       NaN
9         60  2020/12/10'     98     124.0     269.0
10        60  2020/12/11'    103     147.0     329.0
11        60  2020/12/12'    100     120.0     250.0
12        60  2020/12/12'    100     120.0     250.0

In [13]:
a=pd.read_csv('vt.csv')
a.info(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  13 non-null     int64
 1   Date      13 non-null     object
 2   Pulse     13 non-null     int64
 3   Maxpulse  13 non-null     float64
 4   Calories  11 non-null     float64
dtypes: float64(2), int64(2), object(1)
memory usage: 648.0+ bytes

In [14]:
a=pd.read_csv('vt.csv')
a['Calories'].fillna(140,inplace=True)
print(a)

    Duration         Date  Pulse  Maxpulse  Calories
0         60  2020/12/01'    110     130.0     140.0
1         60  2020/12/02'    117     145.0     479.0
2         60  2020/12/03'    103     135.0     340.0
3        450  2020/12/04'    109     175.0     201.0
4         45  2020/12/05'    117     148.0      62.0
5         60  2020/12/06'    102     127.5      77.0
6         60  2020/12/07'    110     136.0     216.0
7         45  2020/12/08'    104     134.0     253.0
8         30     20201209    109     133.0     140.0
9         60  2020/12/10'     98     124.0     269.0
10        60  2020/12/11'    103     147.0     329.0
11        60  2020/12/12'    100     120.0     250.0
12        60  2020/12/12'    100     120.0     250.0

In [16]:
a=pd.read_csv('vt.csv')
a.loc[2,'Duration']=45
print(a)

    Duration         Date  Pulse  Maxpulse  Calories
0         60  2020/12/01'    110     130.0       NaN
1         60  2020/12/02'    117     145.0     479.0
2         45  2020/12/03'    103     135.0     340.0
3        450  2020/12/04'    109     175.0     201.0
4         45  2020/12/05'    117     148.0      62.0
5         60  2020/12/06'    102     127.5      77.0
6         60  2020/12/07'    110     136.0     216.0
7         45  2020/12/08'    104     134.0     253.0
8         30     20201209    109     133.0       NaN
9         60  2020/12/10'     98     124.0     269.0
10        60  2020/12/11'    103     147.0     329.0
11        60  2020/12/12'    100     120.0     250.0
12        60  2020/12/12'    100     120.0     250.0

In [17]:
a=pd.read_csv('vt.csv')
mode=a['Calories'].mode()
a['Calories'].fillna(140,inplace=True)
print(a)

    Duration         Date  Pulse  Maxpulse  Calories
0         60  2020/12/01'    110     130.0     140.0
1         60  2020/12/02'    117     145.0     479.0
2         60  2020/12/03'    103     135.0     340.0
3        450  2020/12/04'    109     175.0     201.0
4         45  2020/12/05'    117     148.0      62.0
5         60  2020/12/06'    102     127.5      77.0
6         60  2020/12/07'    110     136.0     216.0
7         45  2020/12/08'    104     134.0     253.0
8         30     20201209    109     133.0     140.0
9         60  2020/12/10'     98     124.0     269.0
10        60  2020/12/11'    103     147.0     329.0
11        60  2020/12/12'    100     120.0     250.0
12        60  2020/12/12'    100     120.0     250.0

In [21]:
a=pd.read_csv('vt.csv')
a['Dtae']=pd.to_datetime(a['Date'])
print(a)

    Duration         Date  Pulse  Maxpulse  Calories       Dtae
0         60  2020/12/01'    110     130.0       NaN 2020-12-01
1         60  2020/12/02'    117     145.0     479.0 2020-12-02
2         60  2020/12/03'    103     135.0     340.0 2020-12-03
3        450  2020/12/04'    109     175.0     201.0 2020-12-04
4         45  2020/12/05'    117     148.0      62.0 2020-12-05
5         60  2020/12/06'    102     127.5      77.0 2020-12-06
6         60  2020/12/07'    110     136.0     216.0 2020-12-07
7         45  2020/12/08'    104     134.0     253.0 2020-12-08
8         30     20201209    109     133.0       NaN 2020-12-09
9         60  2020/12/10'     98     124.0     269.0 2020-12-10
10        60  2020/12/11'    103     147.0     329.0 2020-12-11
11        60  2020/12/12'    100     120.0     250.0 2020-12-12
12        60  2020/12/12'    100     120.0     250.0 2020-12-12